name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3
    
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        # 1. Diz ao Gradle para usar a versão 8.4 (Corrigido)
        gradle-version: '8.4'
        
        # 2. ESTA É A NOVA CORREÇÃO:
        # Diz ao Gradle para procurar o 'settings.gradle.kts'
        # no diretório raiz do checkout ('.')
        build-root-directory: . 
        
        # 3. Diz ao Gradle o que construir (Corrigido)
        arguments: :app:assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Emulato-APK
        path: app/build/outputs/apk/release/app-release-unsigned.apk
